.border {
  border: 1px dashed black;
  border-radius: 20px;
  width: fit-content;
  padding: 10px;
}

.u {
  margin: 10px;
}

.comments-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.category {
  font-size: 12px;
}
