h3 {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 20px;
}

.sort-btn {
  margin: 10px;
  background-color: teal;
  color: white;
  padding: 5px;
  font-size: 0.7rem;
  border-radius: 4px;
  text-decoration: none;
}

.sort-container {
  display: flex;
  justify-content: flex-end;
}

.post-container {
  margin: 10px;
  padding: 10px;
}

.readmore-btn {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 200px;
  background-color: teal;
  color: white;
  padding: 10px;
  border-radius: 4px;
  text-decoration: none;
  font-size: 15px;
}

.delete-btn {
  background-color: #c4230e;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
}

@media (max-width: 450px) {
  .readmore-btn {
    margin-right: 90px;
  }
}

@media (min-width: 600px) {
  h3 {
    font-size: 1.5rem;
  }
  .sort-container {
    display: flex;
    gap: 10px;
    justify-content: center;
  }
  .readmore-btn {
    padding: 20px 40px;
    margin-right: 90px;
  }

  .delete-btn {
    margin-top: 20px;
    margin-bottom: 20px;
    height: fit-content;
    padding: 20px 40px;
  }
  .sort-btn {
    font-size: 1rem;
  }
}
